<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>12</string>
		<key>Key</key>
		<string>fontsize</string>
		<key>Title</key>
		<string>Font Size</string>
		<key>Titles</key>
		<array>
			<string>10px</string>
			<string>11px</string>
			<string>12px</string>
			<string>13px</string>
			<string>14px</string>
			<string>16px</string>
			<string>18px</string>
			<string>20px</string>
			<string>24px</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>10</string>
			<string>11</string>
			<string>12</string>
			<string>13</string>
			<string>14</string>
			<string>16</string>
			<string>18</string>
			<string>20</string>
			<string>24</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>chrome</string>
		<key>Key</key>
		<string>theme</string>
		<key>Title</key>
		<string>Theme</string>
		<key>Titles</key>
		<array>
			<string>Chrome</string>
			<string>Clouds</string>
			<string>Crimson Editor</string>
			<string>Dawn</string>
			<string>Dreamweaver</string>
			<string>Eclipse</string>
			<string>GitHub</string>
			<string>iPlastic</string>
			<string>Solarized Light</string>
			<string>SQL Server</string>
			<string>TextMate</string>
			<string>Tomorrow</string>
			<string>XCode</string>
			<string>Kuroir</string>
			<string>KatzenMilch</string>
			<string>Ambiance</string>
			<string>Chaos</string>
			<string>Clouds Midnight</string>
			<string>Cobalt</string>
			<string>idle Fingers</string>
			<string>krTheme</string>
			<string>Merbivore</string>
			<string>Merbivore Soft</string>
			<string>Mono Industrial</string>
			<string>Monokai</string>
			<string>Pastel on dark</string>
			<string>Solarized Dark</string>
			<string>Terminal</string>
			<string>Tomorrow Night</string>
			<string>Tomorrow Night Blue</string>
			<string>Tomorrow Night Bright</string>
			<string>Tomorrow Night 80's</string>
			<string>Twilight</string>
			<string>Vibran Ink</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>chrome</string>
			<string>clouds</string>
			<string>crimson_editor</string>
			<string>dawn</string>
			<string>dreamweaver</string>
			<string>eclipse</string>
			<string>github</string>
			<string>iplastic</string>
			<string>solarized_light</string>
			<string>sqlserver</string>
			<string>textmate</string>
			<string>tomorrow</string>
			<string>xcode</string>
			<string>kuroir</string>
			<string>katzenmilch</string>
			<string>ambiance</string>
			<string>chaos</string>
			<string>clouds_midnight</string>
			<string>cobalt</string>
			<string>idle_Fingers</string>
			<string>krTheme</string>
			<string>merbivore</string>
			<string>merbivore_Soft</string>
			<string>mono_Industrial</string>
			<string>monokai</string>
			<string>pastel_on_dark</string>
			<string>solarized_dark</string>
			<string>terminal</string>
			<string>tomorrow_night</string>
			<string>tomorrow_night_blue</string>
			<string>tomorrow_night_bright</string>
			<string>tomorrow_night_eighties</string>
			<string>twilight</string>
			<string>vibrant_ink</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>4</real>
		<key>Key</key>
		<string>tabsize</string>
		<key>Title</key>
		<string>Set Tab Size</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>editor</string>
		<key>Title</key>
		<string>Enable editor</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>invisible</string>
		<key>Title</key>
		<string>Show invisible characters</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
